<mat-card>

  <mat-card-header>
    Student Register System
  </mat-card-header>

  <mat-card-content>

    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
        <input type="text" matInput  style="display: none">

      </mat-form-field>


<!--      <mat-card-actions >-->
        <button mat-raised-button color="primary">
        CREATE NEW
<!--          <mat-icon>search</mat-icon>-->
        </button>
<!--      </mat-card-actions>-->






    </form>

    <mat-card-actions>
      <button color="primary" mat-flat-button>Lookup</button>
      <button mat-flat-button color="primary" style="margin-left: 4px;">Cancel</button>
    </mat-card-actions>

  </mat-card-content>

</mat-card>
