.mat-card {
  padding: 10px !important;
  padding-bottom: 0px !important;
  text-align: center !important;
}

.mat-card-content {
  margin-top: 6px;
}

.mat-card-header {
  margin-bottom: 0px !important;
  font-size: 20px;
  font-weight: bold;
  text-align: center !important;
  text-transform: uppercase;
}
